name: Release

on:
    workflow_dispatch:
    push:
        tags: v*
    
jobs:
    build:
        uses: ./.github/workflows/main.yml
    release:
        needs: build
        runs-on: ubuntu-latest
        steps: 
            - name: download
              uses: actions/download-artifact@v4
            - name: create release
              uses: softprops/action-gh-release@v2.0.8
              with:
                files: ./**/**.zip